@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  @apply max-w-[1300px] mx-auto py-5 px-6 md:px-14
}