@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: black;
  color: white;
}

*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nprogress .bar {
  background: rgb(255, 100, 10);
  height: 5px;
}